<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Game Inventory</title>
</head>
<body>
    <h1>Search Bar</h1>
    <form action="/search" method="get">
        <label for="search">Search: </label>
        <input type="text" name="search" id="seach">
        <button type="submit">search</button>
    </form>
    <br>
    <h1>Game List</h1>
    <% games.forEach(game => { %>
        <div><%= game.game_name %></div>
        <form action="/" method="post">
            <input type="hidden" name="id" id="id" value=<%= game.id %>>
            <button>delete</button>
        </form>
    <% }) %>
    <br>
    <button><a href="/new">new user</a></button>
</body>
</html>